.plot-header
  .plot-title New Plot
  =button_tag 'Remove Plot', :class=>'delete-plot'
.new-plot
  .date
  =select_hour(Time.now, :ampm=>true, :class=>'hour')
  =select("phase","id",{"Phase A"=> "1", "Phase B"=>"2", "Phase C"=> "3"})
  =button_tag "Create Plot", :class=>'create-plot'
