.h1 Prep 1
.plot-image
  %img{:src=>"http://bucket.mit.edu/cottage/assets/current.prep1.png", :alt=>"Live Plot"}
.h1 Prep 2
.plot-image
  %img{:src=>"http://bucket.mit.edu/cottage/assets/current.prep2.png", :alt=>"Live Plot"}
.h1 Prep 3
.plot-image
  %img{:src=>"http://bucket.mit.edu/cottage/assets/current.prep3.png", :alt=>"Live Plot"}
