.block
  %h3 What's This?
  This is the data we collect from the circuit breaker
  %ul.navigation
    %li= link_to "MIT", "http://www.mit.edu"
    %li= link_to "Blog", "http://jdonnal.scripts.mit.edu/home"
      