#tabs
  %ul
    %li= link_to 'Overview', '#tabs1'
    %li= link_to 'How it Works', '#tabs2'
  #tabs1
    =render(:partial => 'plot_panel')
  #tabs2
    How it works
    %input#date{:type=>'text',:name=>'date'}

-# content_for :sidebar, render(:partial => 'sidebar')
:javascript
  $(function(){
    $('#new-plot').click(addPlotPane);
    setupUI();
    $('.delete-plot').click(deletePlotPane);
    $('.create-plot').click(requestPlot);
  });
  function setupUI(){
    $('#tabs').tabs();
    $('.date').datepicker({defaultDate: null});
    $('.plot').addClass('ui-widget ui-widget-content ui-corner-all');
    $('.plot-header').addClass('ui-widget-header ui-dialog-titlebar ui-corner-all ui-helper-reset ui-helper-clearfix');
   $('.delete-plot').addClass('close-button');
   $(".delete-plot").button({icons: {primary:'ui-icon-closethick'}, text:false});
   $(".create-plot").button({icons: {primary: 'ui-icon-check'}, label: "Create"});
   $("#new-plot").button({icons: {secondary: 'ui-icon-circle-plus'}, label: 'Add A Plot'});
  }

  nextPlotPaneID=2;
  
  function addPlotPane(){
    $("#new-plot").button("option","disabled",true);
    $.get( "#{new_plot_path}", function(data){insertPlotPane(data);});
  }
  function insertPlotPane(data){
    $("#plots").append('<div id=\'p'+nextPlotPaneID+'\' class=\'plot\'/>');
    $('#p'+nextPlotPaneID).html(data).hide();
    $('#p'+nextPlotPaneID+'>.plot-header>.delete-plot').click(deletePlotPane);
    $('#p'+nextPlotPaneID+'>.new-plot>.create-plot').click(requestPlot);
    setupUI();
    $('#p'+nextPlotPaneID).slideDown();
    nextPlotPaneID=nextPlotPaneID+1;
    $("#new-plot").button("option","disabled",false);
  }
  function deletePlotPane(event){
    event = event || window.event;
    src = event.target || event.srcElement;
    paneID=src.parentNode.parentNode.getAttribute('id');
    $('#'+paneID).slideUp();
  }
  function requestPlot(event){
    event = event || window.event;
    src = event.target || event.srcElement;
    paneID=src.parentNode.parentNode.getAttribute('id');
    date=$('#'+paneID+'>.new-plot>.date').datepicker("getDate");
    hour=$('#'+paneID+'>.new-plot>#date_hour')[0].selectedIndex;
    phase=$('#'+paneID+'>.new-plot>#phase_id')[0].selectedIndex+1;
    requestURL="#{plots_path}"+date.getFullYear()+'/'+(date.getMonth()+1)+'/'+date.getDate()+'/'+hour+'/'+phase+'.png';
    alert(requestURL);
    $('#'+paneID).fadeTo(0.5);
  }