#tabs
  %ul
    %li= link_to 'Overview', '#tabs1'
    %li= link_to 'How it Works', '#tabs2'
  #tabs1
    =render(:partial => 'plot_panel')
  #tabs2
    =render(:partial=>'how_it_works')

-# content_for :sidebar, render(:partial => 'sidebar')
:javascript
  $(function(){
    $('#new-plot').click(addPlotPane);
    setupUI();
    $('.delete-plot').click(deletePlotPane);
    $('.create-plot').click(requestPlot);
  });
  function setupUI(){
    $('#tabs').tabs();
    $('.date').datepicker({defaultDate: null, minDate: new Date(2012, 1, 26, 0, 0, 0, 0), maxDate: 0 });
    $('.plot').addClass('ui-widget ui-widget-content ui-corner-all');
    $('.plot-header').addClass('ui-widget-header ui-dialog-titlebar ui-corner-all ui-helper-reset ui-helper-clearfix');
   $('.delete-plot').addClass('close-button');
   $(".delete-plot").button({icons: {primary:'ui-icon-closethick'}, text:false});
   $(".create-plot").button({icons: {primary: 'ui-icon-check'}, label: "Create"});
   $("#new-plot").button({icons: {secondary: 'ui-icon-circle-plus'}, label: 'Add A Plot'});
  }

  nextPlotPaneID=2;
  
  function addPlotPane(){
    $("#new-plot").button("option","disabled",true);
    $.get( "#{new_plot_path}", function(data){insertPlotPane(data);});
  }
  function insertPlotPane(data){
    $("#plots").append('<div id=\'p'+nextPlotPaneID+'\' class=\'plot\'/>');
    $('#p'+nextPlotPaneID).html(data).hide();
    $('#p'+nextPlotPaneID+'>.plot-header>.delete-plot').click(deletePlotPane);
    $('#p'+nextPlotPaneID+'>.plot-body>.plot-calendar>.create-plot').click(requestPlot);
    setupUI();
    $('#p'+nextPlotPaneID).slideDown();
    nextPlotPaneID=nextPlotPaneID+1;
    $("#new-plot").button("option","disabled",false);
  }
  function deletePlotPane(event){
    event = event || window.event;
    src = event.target || event.srcElement;
    paneID=src.parentNode.parentNode.getAttribute('id');
    $('#'+paneID).slideUp();
  }
  function requestPlot(event){
    event = event || window.event;
    src = event.target || event.srcElement;
    paneID=$(src).parents('.plot').attr('id');
    date=$('#'+paneID+'>.plot-body>.plot-calendar>.date').datepicker("getDate");
    hour=$('#'+paneID+'>.plot-body>.plot-calendar>#date_hour')[0].selectedIndex;
    phase=$('#'+paneID+'>.plot-body>.plot-calendar>#phase_id')[0].selectedIndex+1;
    requestURL="#{plots_path(:format=>'json')}?year="+date.getFullYear()+
                "&month="+(date.getMonth()+1)+
                "&date="+date.getDate()+
                "&hour="+hour+
                "&phase="+phase;
    $.get(requestURL, function(data){insertPlot(data,paneID);});
  }
  function insertPlot(data,paneID){
    obj=JSON.parse(data);
    if(obj.status!="ok"){
      alert(obj.status);
      return;
      }
    
    $('#'+paneID+'>.plot-body>.plot-image').html('<img src='+obj.image_url+' alt=\'P and Q Plot\'/>');
    $('#'+paneID+'>.plot-header>.plot-title').html(obj.date+'&mdash; Phase '+obj.phase);
    $('#'+paneID+ '>.plot-header>.delete-plot').click(deletePlotPane);
     setupUI();
  }
