// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plot-title{
  float: left;
  margin: 0.1em 16px 0.1em 15px;
}
.delete-plot{
  height: 18px;
  padding: 1px;
  width: 19px;
  float: right;
}
.plot-calendar{
  float: left;
  margin: 3% 50px 30% 20px;
}
.plot-body{
 max-width: 100%
}
.image{
  max-width: 100%
}
.plot{
  width: 100%;
}
