// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plot-title{
  float: left;
  margin: 0.1em 16px 0.1em 15px;
}
.delete-plot{
  height: 18px;
  padding: 1px;
  width: 19px;
  float: right;
}
.plot-calendar{
  width: 18em;
  margin: 1em;
  float: left;
}
.plot-image{
  margin-left: 20em;
  max-width: 100%;
  min-width: 40em;
}
.plot-body:after{
  clear:both;
}
.plot-body{
  position:relative;
}
.plot{
  width: 100%;
}
.plot-image img{
  max-width: 100%;
}
body #container{
  min-width: 640px;
}