// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plot-title{
  float: left;
  margin: 0.1em 16px 0.1em 15px;
}
.delete-plot{
  height: 18px;
  padding: 1px;
  width: 19px;
  float: right;
}
.plot-body{
  margin: 10px 25% 10px 35%;
}
